.stafi_content{
  width:638px;
  height:535px;
  background-color: #2B3239;
  border-radius: 19px;
  position: relative;
}

.stafi_content::after{
  content: "Notice: Please DO NOT use your Ledger account, otherwise your assets will be lost.";
  position: absolute;
  bottom: -57px;
  width: 100%;
  min-width: fit-content;
  // left: -29px;
  color: #C4C4C4;
  text-align:center;
  left:0px;
}